* {
    margin: 0%;
    padding: 0%;
}

.navigation {
    background-color: rgba(6, 163, 248, 0.405);
    width: 100%;
    height: 125px;
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-between;
}

.navigation .list li {
    display: inline-block;
    list-style: none;
    margin-left: 20px;
    margin-right: 50px;
    margin-top: 30px;
}

li a {
    color: rgba(3, 2, 28, 0.754);
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
}
li a:hover{
    color: white;
}

.title {
    color:wheat;
    font-size: 30px;
    margin-top: 8px;
    margin-left: 100px;
    font-weight: 700;
    border-radius: 25%;
     animation: open;
     animation-duration: 2s;
     animation-timing-function:cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
@keyframes open{
    from{
        transform: translateX(500px);
    }
    to{
        transform: translateX(0px);
    
    }
}
.main {
    background-color: #eee;
    width: 100%;
    height: min-content;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.main-img:hover{
    animation-name: turn-image;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}
@keyframes turn-image {
    from{
    transform: rotate(0deg);
    }
    to{
    transform: rotate(360deg);
    }
    }
    
.main-img {
    border-radius: 100%;
    
}

.main h2 {
    margin-top: 20px;
   font-size: 30px;
}

.main p {
    display: flex;
    text-align: center;
    margin: auto;
    margin-left: 300px;
    margin-right: 200px;
    color: rgb(164, 159, 159);
}
.main p span{
    display: contents;
    color: rgb(36, 117, 99);
}

.cards{
    width: 100%;
    margin: auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3,auto);
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    row-gap: 10px;
    background-color: rgb(195, 204, 216);
       
}
.cards img{
    border-radius: 25px;
}
.cards img:hover{
    animation-name: change-card;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-direction: alternate;
}

@keyframes change-card{
    from{
        transform-origin: 100 50%;
        transform: rotateY(0deg)
    }
    to{    transform-origin: 50 50%;
        transform: rotateY(180deg);
    }
}
.cards span{
    
    margin-top: 10px;
    color: rgb(27, 47, 47);
    font-size: 20px;
}
.foot{
    width: 100%;
    background-color: rgb(100, 96, 96);
    padding: 20px;
    margin: auto;
    height: 28vh;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
       
}
.foot span,a,p{
    display: block; 
    font-size: 25px;
    text-decoration: none;
}
.foot h3{
    color: white;
    font-size: 28px;
}
.foot span,p{
color: rgb(218, 207, 207);
font-weight: bold;
}
.foot a{
    color: rgb(4, 49, 4);
}
.foot div {
    margin-left:20px ;
    margin-top:20px ;
    width: 33.3%;   
}
.foot div a:hover{
color: burlywood;
}